<li class="pokemon-like-data">
    <i class="pokemon-icon pkmn-<%= pokemon.id %>"></i>
    <div class="center"><%= pokemon.name %></div>
    <div class="center"><%= pokemon.percentage %>%</div>
    <div class="clear like-texts">
        <span class="like-text">Likes:</span> <%= pokemon.likes%>
        <span class="dislike-text">Dislikes:</span> <%= pokemon.dislikes%>
    </div>
</li>