<div class="quick-stats">
	<h4>Quick Stats</h4>
	<div class="total-wondertrades"><%= quickstats.resultCount %> Wonder Trades</div>
	<ul>		
        <li class="shiny"><%= quickstats.shinyPercentage %>% Shiny</li>
        <li class="hiddenAbility"><%= quickstats.hiddenAbilityPercentage %>% Hidden Abilities</li>        
        <li class="item"><%= quickstats.itemPercentage %>% Held Item</li>
        <li class="pokerus"><%= quickstats.pokerusPercentage %>% PokeRus</li>
        <li class="eggMove"><%= quickstats.eggMovePercentage %>% With Egg Moves</li>
        <li class="notableIV"><%= quickstats.noteableIvPercentage %>% With Notable IVs</li>
    </ul>
</div>