<div class="quick-stats">
	<h4>Quick Stats</h4>
	<ul>
		<li><%= quickstats.resultCount %> Wonder Trades</li>
        <li><%= quickstats.shinyPercentage %>% of the wonder trades were Shiny</li>
        <li><%= quickstats.pokerusPercentage %>% of the wonder trades had PokeRus</li>
        <li><%= quickstats.hiddenAbilityPercentage %>% of the wonder trades had Hidden Abilities</li>
        <li><%= quickstats.itemPercentage %>% of the wonder trades were holding an item</li>
    </ul>
</div>