<table class="wondertrade-list">
	<thead>
		<tr>
			<td class="pokemon-details strong-divider" colspan="10">Pokemon Details</td>
			<td class="trainer-details" colspan="3">Trainer Details</td>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<th class="pokemon-details">Pokemon</th>
			<th class="pokemon-details">Level</th>
			<th class="pokemon-details">Nickname</th>
			<th class="pokemon-details">Item</th>
			<th class="pokemon-details">Shiny</th>
			<th class="pokemon-details">Pokerus</th>
            <th class="pokemon-details">Egg<br/> Moves</th>
            <th class="pokemon-details">Perfect<br/>IV</th>
            
			<th class="pokemon-details">Hidden<br />Ability</th>
			<th class="pokemon-details  strong-divider">Poke ball<br />Type</th>
			<th class="trainer-details">Trainer<br />Gender</th>
			<th class="trainer-details">Trainer<br />Country</th>
			<th class="trainer-details">Trainer<br />Country Sub</th>
			<th>User</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	<% wondertrades.forEach(function(wondertrade){ %>
		<tr data-unique='<%= wondertrade.userId %>/<%= wondertrade.date %>/<%= wondertrade.time %>'>
    		<td><a href="/data/pokemon/<%= wondertrade.pokemonId %>"><%= pokemonHash[wondertrade.pokemonId] %> <i class="pokemon-icon pkmn-<%= wondertrade.pokemonId %>"></i></a></td>
    		<td><%= wondertrade.level %></td>
    		<td><%= wondertrade.pokemonNickname %></td>    		
    		<td class="checkArea"><%= wondertrade.hasItem? '&check;' : '' %></td>
    		<td class="checkArea"><%= wondertrade.isShiny? '&check;' : '' %></td>
    		<td class="checkArea"><%= wondertrade.hasPokerus? '&check;' : '' %></td>
            <td class="checkArea"><%= wondertrade.hasEggMove? '&check;' : '' %></td>
            <td class="checkArea"><%= wondertrade.hasPerfectIV? '&check;' : '' %></td>
			<td class="checkArea"><%= wondertrade.hasHiddenAbility? '&check;' : '' %></td>
			<td class="strong-divider">
				<% if(wondertrade.pokeballType) { %>
					<a href="/data/pokeballs/<%= wondertrade.pokeballType %>"><%= wondertrade.pokeballType %> <i class="pokeball-icon pkbl-<span class="pokeballCapitalize"><%= wondertrade.pokeballType %></span>"></i></a>
				<% } %>
			</td>
    		<td>
                <% if(wondertrade.trainerGender === 'male') { %>
                    <span class="gender-male">
                        &#9794;
                    </span>
                <% } else if(wondertrade.trainerGender === 'female') { %>
                    <span class="gender-female">
                        &#9792;
                    </span>
                <% } %>
    		</td>
    		<td>
    			<% if(wondertrade.trainerCountry && countryHash[wondertrade.trainerCountry]) { %>
    				<a href="/data/regions/<%= wondertrade.trainerCountry %>"><%= countryHash[wondertrade.trainerCountry] %></a>
    			<% } %>
    		</td>
    		<td><%= wondertrade.trainerCountrySub1 %></td>
    		<td><% if(wondertrade.userId && userTable[wondertrade.userId]) { %>
    				<a href="/users/<%= wondertrade.userId %>"><%= userTable[wondertrade.userId] %></a>
    			<% } %>
    		</td>
    		<td><%= wondertrade.date %></td>
    	</tr>
  	<% }); %>
  	</tbody>
</table>