<!DOCTYPE html>
<html>
  <head>
    <title>Wonder Trade Analytics</title>
    <meta name="keywords" content="Pokemon, Wonder Trade, Tyler Stark, The Iron Developer">
    <meta charset="UTF-8" />  
    <meta name="author" content="Tyler Stark">    
    <meta property="og:image" content="http://www.wondertradeanalytics.com/images/theIronPokeBall.png"/>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/sprite.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
      
      Highcharts.setOptions({
        credits: {
          enabled: false
        },
        colors: Highcharts.map(Highcharts.getOptions().colors, function(color) {
          return {
              radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
              stops: [
                  [0, color],
                  [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
              ]
            };
        })
      })
      Date.prototype.customFormatDate = function(){
        var year = this.getFullYear(),
          month = ('0'+(this.getMonth()+1)).slice(-2),
          day = ('0'+(this.getDate())).slice(-2);
        return [year, month, day].join('-');
      };
    </script>
  </head>
  <body>
    <div class="page-background">&nbsp;</div>
    <header class="container pageHead">
      <h1><%= title %></h1>
      <div class="user center">
        <% if(user) { %>
          Logged in as <a href="/users/<%= user.id %>"><%= user.username %></a>
          <br />
          <a href="/dashboard">Your Dashboard</a> <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/register">Register</a> or <a href="/login">Login</a>
        <% } %>
      </div>
    </header>
    <div class="wrapper">
      <% if(pageState) { %>
        <div class="stateMessage <%= pageState %>">
          <%= stateMessage %>
        </div>
      <% } %>

    	<div class="container page">	      	     
        <div class="page-sidebar">
          
          <ul class="sidebar-overview">
            <li><span>General:</span></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contributers">Contributers</a></li>
            <% if(user) { %>              
              <li><a href="/help">Helping<br/> Out</a></li>
              <li><a href="/wondertrade/new">Add a<br/> wonder trade</a></li>
            <% } %>              
            <li><a href="/wondertrade">Recent<br/> WonderTrades</a></li>
            <li><a href="/data/likes">Liked<br/> Pokemon</a></li>
            <li class="last"><a href="/originalTrainers">Trainers<br/> Recorded</a></li>
          </ul>
          <ul class="sidebar-data">
              <li><span>Data:</span></li>
            <li><a href="/data">Overview</a></li>
            <li><a href="/data/pokemon">Pokemon</a></li>
            <li><a href="/data/regions">Regions</a></li>
            <li><a href="/data/hiddenAbilities">Hidden<br/>Abilities</a></li>
            <li><a href="/data/perfectIV">Perfect<br/> IV</a></li>
            <li><a href="/data/shiny">Shiny</a></li>
            <li><a href="/data/gender">Gender</a></li>
            <li><a href="/data/levels">Levels</a></li>
            <li class="last"><a href="/data/dates">Dates</a></li>
          </ul>
        </div>
        <div class="page-content">
          <%- body %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-45892387-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>    
  </body>
</html>