<!DOCTYPE html>
<html>
<head>
	<title>Wonder Trade Analytics</title>
	<meta name="keywords" content="Pokemon, Wonder Trade, Tyler Stark, The Iron Developer">
	<meta charset="UTF-8" />
	<meta name="author" content="Tyler Stark">
	<meta name="viewport" content="intial-scale=1.0, width=device-width, user-scalable=no" />
	<meta property="og:image" content="http://www.wondertradeanalytics.com/images/theIronPokeBall.png"/>
	<link rel="stylesheet" href="/styles/style.css" />
	<link rel="stylesheet" href="/styles/sprite.css" />
	<link rel="stylesheet" href="/styles/ballsprite.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript">

		Highcharts.setOptions({
			credits: {
				enabled: false
			},
			colors: Highcharts.map(Highcharts.getOptions().colors, function(color) {
				return {
					radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
					stops: [
						[0, color],
						[1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
					]
				};
			})
		})
		Date.prototype.customFormatDate = function(){
			var year = this.getFullYear(),
					month = ('0'+(this.getMonth()+1)).slice(-2),
					day = ('0'+(this.getDate())).slice(-2);
			return [year, month, day].join('-');
		};
	</script>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1405341806382443";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<div class="page-background">&nbsp;</div>
<header class="container pageHead">
	<h1><%= title %></h1>
	<div class="user center">
		<% if(user) { %>
		Logged in as <a href="/users/<%= user.id %>"><%= user.username %></a>
		<br />
		<a href="/dashboard">Your Dashboard</a> <a href="/logout">Logout</a>
		<% } else { %>
		<a href="/register">Register</a> or <a href="/login">Login</a>
		<% } %>
	</div>
</header>
<div class="wrapper">
	<% if(pageState) { %>
	<div class="stateMessage <%= pageState %>">
		<%= stateMessage %>
	</div>
	<% } %>

	<div class="container page">
		<div class="page-navigation">
			<ul class="sidebar-overview desktop-only">
				<li><span>General:</span></li>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contributors">Contributors</a></li>
				<li><a href="/help">Helping<br/> Out</a></li>
				<li><a href="/data/recent">Recent<br/> WonderTrades</a></li>
				<li><a href="/visualize">Random<br/> Sample</a></li>
				<li><a href="/data/likes">Liked<br/> Pokemon</a></li>
				<li class="last"><a href="/groups">Grouped<br/> Pokemon</a></li>
				<li class="addTrade"><a href="/wondertrade/new">Submit a<br/> wonder trade</a></li>
			</ul>
			<ul class="sidebar-data desktop-only">
				<li><span>Data:</span></li>
				<li><a href="/data">Overview</a></li>
				<li><a href="/data/pokemon">Pokemon</a></li>
				<li><a href="/data/regions">Regions</a></li>
				<li><a href="/data/hiddenAbilities">Hidden<br/>Abilities</a></li>
				<li><a href="/data/perfectIV">Perfect<br/> IV</a></li>
				<li><a href="/data/shiny">Shiny</a></li>
				<li><a href="/data/gender">Gender</a></li>
				<li><a href="/data/levels">Levels</a></li>
				<li><a href="/data/pokeballs">Pokeballs</a></li>
				<li><a href="/data/dates">Dates</a></li>
				<li class="last"><a href="/data/time">Time</a></li>
			</ul>
			<div class="mobile-only">
				<select id="mobile-navigation">
					<optgroup label="General">
						<option value="/">Home</option>
						<option value="/about">About</option>
						<option value="/contributors">Contributers</option>
						<option value="/help">Helping Out</option>
						<option value="/data/recent">Recent WonderTrades</option>
						<option value="/data/likes">Liked Pokemon</option>
						<option value="/groups">Grouped Pokemon</option>
						<option value="/visualize">Random Sample</option>
					</optgroup>
					<optgroup label="Data">
						<option value="/data">Overview</option>
						<option value="/data/pokemon">Pokemon</option>
						<option value="/data/regions">Regions</option>
						<option value="/data/hiddenAbilities">Hidden Abilities</option>
						<option value="/data/perfectIV">Perfect IV</option>
						<option value="/data/shiny">Shiny</option>
						<option value="/data/gender">Gender</option>
						<option value="/data/levels">Levels</option>
						<option value="/data/pokeballs">Pokeballs</option>
						<option value="/data/dates">Dates</option>
						<option value="/data/time">Time</option>
					</optgroup>
				</select>
				<div class="addTrade"><a href="/wondertrade/new">Submit a wonder trade</a></div>
				<div class="privacyMobile"><a href="//www.iubenda.com/privacy-policy/8266238" class="iubenda-white iub-legal-only iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></div>
			</div>
		</div>
		<div class="social desktop-only">
			<div class="social-btn fb-share-button" data-href="http://www.wondertradeanalytics.com/" data-type="button_count"></div>
			<div class="social-btn"><a href="https://twitter.com/share" class="twitter-share-button" data-via="IronDevTyler">Tweet</a></div>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
		<div class="privacy desktop-only"><a href="//www.iubenda.com/privacy-policy/8266238" class="iubenda-white iub-legal-only iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></div>
		<div class="page-content">
			<%- body %>
		</div>
	</div>
</div>
<script type="text/javascript">

	// Super simple mobile navigation
	(function($mobileNav, pathname) {
		$mobileNav.value = pathname;
		$mobileNav.addEventListener('change',function(){
			window.location = this.value;
		});
	})(document.getElementById('mobile-navigation'), document.location.pathname);
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109830226-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109830226-1');
</script>
</body>
</html>