<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>    
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="page-background">&nbsp;</div>
    <header class="container">
      <h1><%= title %></h1>
    </header>
    <div class="wrapper">
      <% if(pageState) { %>
        <div class="stateMessage <%= pageState %>">
          <%= stateMessage %>
        </div>
      <% } %>

    	<div class="container page">	    
  	     <div class="page-content">
          <%- body %>
        </div>
        <div class="page-sidebar">
          <h3>Site Nav ▼</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/wondertrade">Recent Wonder Trades</a></li>
            <li><a href="/wondertrade/new">Add a Wonder Trade</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>