<% layout('../layout') -%>
<h2>List of the most recent Wonder Trades</h2>

<table class="wondertrade-list">
	<thead>
		<tr>
			<td class="pokemon-details strong-divider" colspan="5">Pokemon Details</td>
			<td class="trainer-details" colspan="3">Trainer Details</td>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<th class="pokemon-details">Pokemon</th>
			<th class="pokemon-details">Nickname</th>
			<th class="pokemon-details">Item</th>
			<th class="pokemon-details">Shiny</th>
			<th class="pokemon-details strong-divider">Hidden<br />Ability</th>
			<th class="trainer-details">Trainer<br />Gender</th>
			<th class="trainer-details">Trainer<br />Country</th>
			<th class="trainer-details">Trainer<br />Country Sub</th>
			<th>User</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	<% wondertrades.forEach(function(wondertrade){ %>
		<tr>
    		<td><%= pokemonHash[wondertrade.pokemonId] %></td>
    		<td><%= wondertrade.pokemonNickname %></td>    		
    		<td><%= wondertrade.hasItem? 'x' : '' %></td>
    		<td><%= wondertrade.isShiny? 'x' : '' %></td>
    		<td class="strong-divider"><%= wondertrade.hasHiddenAbility? 'x' : '' %></td>
    		<td><%- wondertrade.trainerGender === 'male' ? '<span class="gender-male">&#9794;</span>' : '<span class="gender-female">&#9792;</span>' %></td>
    		<td><%= wondertrade.trainerCountry %></td>
    		<td><%= wondertrade.trainerCountrySub1 %></td>
    		<td><%= wondertrade.userId %></td>
    		<td><%= wondertrade.date %></td>
    	</tr>
  	<% }); %>
  	</tbody>
</table>