<% layout('../layout') -%>
<h1>List of the most recent Wonder Trades</h1>

<table class="wondertrade-list">
	<tr>
		<th>Date</th>
		<th>Pokemon</th>
		<th>Nickname</th>
		<th>Item?</th>
		<th>Shiny?</th>
		<th>Hidden Ability?</th>
		<th>Trainer Gender</th>
		<th>Trainer Country</th>
		<th>Trainer Country Sub</th>
		<th>Submitted By:</th>
	</tr>
	<% wondertrades.forEach(function(wondertrade){ %>
		<tr>
			<td><%= wondertrade.date %></td>
    		<td><%= pokemonHash[wondertrade.pokemonId] %></td>
    		<td><%= wondertrade.pokemonNickname %></td>    		
    		<td><%= wondertrade.hasItem %></td>
    		<td><%= wondertrade.isShiny %></td>
    		<td><%= wondertrade.hasHiddenAbility %></td>
    		<td><%= wondertrade.trainerGender %></td>
    		<td><%= wondertrade.trainerCountry %></td>
    		<td><%= wondertrade.trainerCountrySub1 %></td>
    		<td><%= wondertrade.userId %></td>
    	</tr>
  	<% }); %>
</table>