<% layout('../layout') -%>
<h3>Gender Overview</h3>

<div class="gender-sides">
	<div class="male-side gender-side">
		<h4>Male Stats</h4>


		<div class="quick-stats">
			<div class="total-wondertrades"><%= maleQuickstats.resultCount %> Wonder Trades</div>
			<ul>		
		        <li class="shiny"><%= maleQuickstats.shinyPercentage %>% Shiny</li>
		        <li class="hiddenAbility"><%= maleQuickstats.hiddenAbilityPercentage %>% Hidden Abilities</li>        
		        <li class="item"><%= maleQuickstats.itemPercentage %>% Held Item</li>
		        <li class="pokerus"><%= maleQuickstats.pokerusPercentage %>% PokeRus</li>
		        <li class="eggMove"><%= maleQuickstats.eggMovePercentage %>% With Egg Moves</li>
		        <li class="notableIV"><%= maleQuickstats.perfectIvPercentage %>% With At least One Perfect IV</li>
		    </ul>
		</div>

		<div class="quick-stats">
			<h4>Top Ten Traded</h4>
			<ol class="top-ten">
				<% maleTopTenPokemon.forEach(function(pokemon){ %>
					<% include ../partials/_pokemon-and-count.ejs %>
				<% }); %>
			</ol>
		</div>
		<div class="chart-box full-chart" id="pokemon-chart-male"></div>
		<div class="chart-box full-chart" id="region-chart-male"></div>

	</div>
	<div class="female-side gender-side">
		<h4>Female Stats</h4>

		<div class="quick-stats">
			<div class="total-wondertrades"><%= femaleQuickstats.resultCount %> Wonder Trades</div>
			<ul>		
		        <li class="shiny"><%= femaleQuickstats.shinyPercentage %>% Shiny</li>
		        <li class="hiddenAbility"><%= femaleQuickstats.hiddenAbilityPercentage %>% Hidden Abilities</li>        
		        <li class="item"><%= femaleQuickstats.itemPercentage %>% Held Item</li>
		        <li class="pokerus"><%= femaleQuickstats.pokerusPercentage %>% PokeRus</li>
		        <li class="eggMove"><%= femaleQuickstats.eggMovePercentage %>% With Egg Moves</li>
		        <li class="notableIV"><%= femaleQuickstats.perfectIvPercentage %>% With At least One Perfect IV</li>
		    </ul>
		</div>

		<div class="quick-stats">
			<h4>Top Ten Traded</h4>
			<ol class="top-ten">
				<% femaleTopTenPokemon.forEach(function(pokemon){ %>
					<% include ../partials/_pokemon-and-count.ejs %>
				<% }); %>
			</ol>
		</div>
		<div class="chart-box full-chart" id="pokemon-chart-female"></div>
		<div class="chart-box full-chart" id="region-chart-female"></div>		
	</div>

</div>

<script>
	$(document).ready(function(){
		<% include ../partials/highcharts/_region-chart-male.ejs %>
		<% include ../partials/highcharts/_region-chart-female.ejs %>
		<% include ../partials/highcharts/_pokemon-chart-female.ejs %>
		<% include ../partials/highcharts/_pokemon-chart-male.ejs %>
	    
	});
</script>