<% layout('../layout') -%>
<h3>Pokemon Overview</h3>

<div class="chart-box half-chart">
    <h4>Sweet Stats</h4>
    <ul>
        <li><%= shinyPercentage %>% were Shiny</li>
        <li><%= pokerusPercentage %>% had PokeRus</li>
        <li><%= hiddenAbilityPercentage %>% had Hidden Abilities</li>
        <li><%= itemPercentage %>% were holding an item</li>
    </ul>
</div>
<div class="chart-box half-chart">
    <h4>Review by Pokemon</h4>
    <form id="selectPokemon" class="center">
        <select>
            <%- include ../partials/_pokemon-select-menu.ejs %>
        </select>
        <input type="submit" value="Go!">
    </form>
    <h4>Top Ten Wonder Traded Pokemon </h4>
    <ol>
        <% for(var pokemon in topTenPokemon) { %>
            <li><%= topTenPokemon[pokemon][0] %> (<%= topTenPokemon[pokemon][1] %>)</li>
        <% } %>
    </ol>    
</div>
<div class="chart-box full-chart" id="levels-chart"></div>
<div class="chart-box full-chart" id="pokemon-chart"></div>

<script>
	$(document).ready(function(){
        $('#selectPokemon').on('submit', function(){            
            var pokemonId = $(this).find('option:selected').val();
            if(pokemonId > 0 && pokemonId < 719) {
                window.location = '/data/pokemon/'+pokemonId;
            }            
            return false;
        });

		<% include ../partials/highcharts/_trend-chart.ejs %>
        <% include ../partials/highcharts/_levels-chart.ejs %>   	    
	});
</script>